<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About Zhybz</a></li>
    <li class="nav-getting-started" target="_blank" role="menuitem"><a href="http://weibo.com/aspnetcore/">Getting Started</a></li>
    <li class="nav-try-ghost" target="_blank" role="menuitem"><a href="http://www.gaoby.cn/">告白驿站-www.gaoby.cn</a></li>
     <li class="nav-try-ghost" target="_blank" role="menuitem"><a href="http://1687820.com/">区块链论坛-BlockChain BBS-www.1687820.com</a></li>
</ul>
